services:
  frontend:
    build:
      context: .
      dockerfile: ./compose/dev/application/Dockerfile
    image: inhouse_suite_frontend
    container_name: inhouse_suite_frontend
    depends_on:
      - server
    volumes:
      - ./Application:/app
      # http://jdlm.info/articles/2016/03/06/lessons-building-node-app-docker.html
      - /app/node_modules
      - /app/.next
    environment:
      - BACKEND_URL=http://server:8080
    ports:
      - '3030:3030'

  server: &server
    build:
      context: .
      dockerfile: ./compose/dev/server/Dockerfile
    image: inhouse_suite_server
    container_name: inhouse_suite_server
    depends_on:
      - postgres
    volumes:
      - ./Server/:/app
      - /app/.venv
    environment:
      - INSERT_FAKE_DATA=true
    env_file:
      - ./.envs/.dev/.postgres
    ports:
      - '8080:8080'
    command: /start

  postgres:
    image: postgres:18.1
    container_name: inhouse_suite_postgres
    volumes:
      - dggcrm_dev_postgres_data:/var/lib/postgresql/18/docker
      - dggcrm_dev_postgres_data_backups:/backups
    env_file:
      - ./.envs/.dev/.postgres
    ports:
      - "5432:5432"

volumes:
  dggcrm_dev_postgres_data:
  dggcrm_dev_postgres_data_backups: